#banner-ppal{
	display: none;
}
.text-ppal{
	position: relative;
	font-size: 14rem;
	line-height: 120px;
	margin-bottom: 20px;
	color: #1e2025;
}
.text-ppal--efect{
	background: #573CFF;
	color: white;
	padding: 20px 50px;
	border-radius: 80px;
	max-width: 500px;
	overflow: hidden;
	position: relative;
	white-space: nowrap;
	display: flex;
	white-space: nowrap;
}
.text-ppal--efect__content{
	display: flex;
	white-space: nowrap;
	animation: marquee 25s linear infinite;
}
.text-ppal--efect__content--custom {
	animation: marquee 10s linear infinite;
}
.text-ppal--efect__inner{
	display: flex;
	white-space: nowrap;
}
.text-ppal--efect__content span {
	display: inline-block;
	padding: 0 20px;
}
.text-ppal--efect__content svg {
	display: inline-block;
	font-size: 6rem;
}
.text-ppal--efect-two {
	background: #f8ff37;
	color: #573CFF;
	padding: 20px 50px;
	border-radius: 80px;
	max-width: 500px;
	overflow: hidden;
	position: relative;
	white-space: nowrap;
	display: flex;
	white-space: nowrap;
}
.text-ppal--info{
	width: 50%;
	max-width: 600px;
	padding: 0 50px;
	font-size: 2rem;
	line-height: 34px;
	font-weight: 400;
}
.banner-principal{
	position: relative;
	padding: 80px 0 0px;
	overflow: hidden;
}
.banner-principal--pb{
	padding-bottom: 50px;
}
.banner-principal--custom{
	padding: 230px 0 180px;
}
.banner-principal__text {
	position: relative;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 20px;
	text-align: center;
}
.banner-principal__text--primary {
	width: 100%;
	max-width: 800px;
	margin: 20px auto;
}
.banner-principal__text--secondary{
	width: 100%;
	max-width: 600px;
	margin: 30px auto 40px;
}
.banner-principal__text--extra {
	width: 100%;
	max-width: 600px;
	margin: 0px auto;
}
.banner-principal__text--large{
	max-width: 800px;
}
.banner-principal__buttons{
	display: flex;
	justify-content: center;
	gap: 30px;
}
.efect__one{
	opacity: 1;
	transform: perspective(1200px);
	align-content: center;
	align-items: center;
	display: flex;
	flex: none;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 10px;
	height: 670px;
	justify-content: center;
	left: calc(69.84375000000003% - 772px / 2);
	overflow: visible;
	padding: 0;
	position: absolute;
	top: -350px;
	transform: perspective(1200px);
	width: 772px;
	z-index: 0;
}
.efect__one--1 {
	-webkit-filter: blur(90px);
	background-color: #371ae7;
	border-radius: 100%;
	filter: blur(90px);
	flex: none;
	height: 618px;
	position: absolute;
	right: -283px;
	top: 0;
	width: 838px;
	z-index: 1;
}
.efect__one--2 {
	-webkit-filter: blur(82px);
	background-color: #371ae7;
	border-radius: 50%;
	filter: blur(82px);
	flex: none;
	height: 514px;
	left: -310px;
	position: absolute;
	top: 31px;
	width: 791px;
	z-index: 1;
}
.efect__two {
	opacity: 1;
	transform: perspective(1200px);
	align-content: center;
	align-items: center;
	display: flex;
	flex: none;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 10px;
	height: 670px;
	justify-content: center;
	left: calc(18.046875000000025% - 772px / 2);
	overflow: visible;
	padding: 0;
	position: absolute;
	top: -350px;
	transform: perspective(1200px);
	width: 772px;
	z-index: 0;
}
.efect__two--1 {
	-webkit-filter: blur(76px);
	background-color: #f8ff37;
	border-radius: 100%;
	filter: blur(76px);
	flex: none;
	height: 523px;
	position: absolute;
	right: 268px;
	top: 119px;
	width: 536px;
	z-index: 1;
}
.efect__two--2 {
	-webkit-filter: blur(95px);
	background-color: #02ed2a;
	border-radius: 100%;
	filter: blur(95px);
	flex: none;
	height: 345px;
	overflow: hidden;
	position: absolute;
	right: 62px;
	top: 123px;
	width: 345px;
	will-change: transform;
	z-index: 1;
}
.title__one{
	font-size: 7.2rem;
	line-height: 1.2;
}
.title__one--big {
	font-size: 10rem;
	line-height: 1.2;
}
.title__one--small{
	font-size: 6rem;
	line-height: 1.2;
}
.text{
	font-size: 1.8rem;
}
.banner-features{
	position: relative;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 40px 20px;
	text-align: center;
}
.banner-features .FeatureItem{
	width: 30%;
}
.banner-testimonial{
	margin-top: 100px;
	background: linear-gradient(180deg, #ecf1f7 0%, rgba(243, 247, 251, 0) 100%);
}
.container-prices{
	position: relative;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	gap: 20px;
}
.logo-svg-animate{
	width: 600px;
	margin: 0 auto;
}
.st0 {
	stroke-width: 4;
	fill: #F6E948;
}
.st1 {
	stroke-width: 4;
	fill: #1226AA;
}
.st2 {
	stroke-width: 4;
	fill: #38D430;
}

.wave-container {
	position: relative;
	width: 100%;
	height: 500px;
	overflow: hidden;
}

.wave-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
}

.wave {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 200%;
	height: 120px;
}

.wave-svg {
	width: 100%;
	height: 100%;
}

@keyframes marquee {
	0% {
		transform: translate3d(0, 0, 0);
	}

	100% {
		transform: translate3d(-50%, 0, 0);
	}
}

@media only screen and (max-width: 1200px) {
	.text-ppal {
		font-size: 10rem;
		line-height: 100px;
	}
	.text-ppal--info {
		width: 100%;
	}
}
@media only screen and (max-width: 1024px) {
	#banner-ppal {
		display: block;
	}
	.text-ppal, #banner-secondary {
		display: none;
	}
	.title__one {
		font-size: 5rem;
	}
	.title__one--big {
		font-size: 7rem;
	}
	.title__one--small {
		font-size: 4rem;
	}
	.banner-features .FeatureItem {
		width: 50%;
	}
	.container-prices{
		display: block;
	}
}
@media only screen and (max-width: 640px) {
	.banner-principal{
		height: auto;
	}
	.banner-principal--custom {
		padding: 150px 0 80px;
	}
	.title__one {
		font-size: 3rem;
	}
	.title__one--big {
		font-size: 4rem;
		line-height: 1.1;
	}
	.title__one--small {
		font-size: 3rem;
	}
	.text {
		font-size: 1.6rem;
	}
	.banner-features .FeatureItem {
		width: 100%;
	}
	.banner-principal__buttons{
		display: block;
	}
	.banner-principal__buttons > div{
		margin-bottom: 20px;
	}
	.efect__one, .efect__two{
		display: none;
	}
	.logo-svg-animate {
		width: 300px;
	}
}