.header{
	width: 100%;
	min-height: 70px;
	background-color: rgba(0, 0, 0, 0);
	z-index: 99;
	position: fixed;
	left: 0;
	top: 0;
	transition: all .3s;
}
.header__content{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	padding: 0 20px;
	display: flex;
	justify-content: space-between
}
.header__logo{
	width: 33%;
	font-size: 3rem;
}
.header__nav{
	width: 34%;
	display: flex;
	align-items: center;
	gap: 25px;
	justify-content: center;
	transition: all .3s;
}
.header__nav__item{
	position: relative;
	font-size: 1.8rem;
	cursor: pointer;
	display: flex;
	align-items: center;
	transition: all .3s;
	letter-spacing: .5px;
	border-bottom: 1px solid transparent;
}
.header__buttons{
	width: 33%;
	display: flex;
	justify-content: flex-end;
}
.fixed{
	backdrop-filter: blur(12px);
	background-color: rgba(255, 255, 255, 0.5);
}
.fixed:hover {
	backdrop-filter: blur(12px);
	background-color: rgba(255, 255, 255, 0.5)
}
.fixed .header__nav__item {
	color: #02015A;
}
.header--active{
	background-color: white !important;
}
.header__menu{
	display: none;
}
.header__nav--effect{
	position: absolute;
	right: 8px;
	opacity: 1;
	/*visibility: hidden;*/
	transform: scale(0.9);
	transition: opacity 0.2s ease, visibility 0.2s ease, transform 0.2s ease;
	width: 20px;
	filter: invert(100%) brightness(100%);
}
.header__nav__item:hover {
	border-color: white;
}
.fixed .header__nav--effect{
	filter: none;
}

@media only screen and (max-width: 1024px) {
	.header__nav {
		display: none;
	}
	.header__menu{
		width: 60px;
		display: flex;
		align-items: center;
		color: white;
		justify-content: flex-end;
	}
	.header__buttons{
		width: calc(100% - (33% + 60px));
	}
	.header:hover .header__menu, .fixed .header__menu, .header--active .header__menu{
		color: #573CFF !important;
	}
	.header__nav__movil{
		position: fixed;
		left: 0;
		top: 80px;
		width: 100%;
		border-top: 2px solid #573CFF;
		box-shadow: 0px 4px 7px rgba(87, 60, 255, .2);
	}
	.header__nav__item__movil{
		padding: 20px;
		width: 100%;
		display: block;
		background-color: white;
		transition: all .2s;
	}
	.header__nav__item__movil:hover {
		background-color: rgba(87, 60, 255, .2);
	}
}
@media only screen and (max-width: 640px){
	.header{
		background-color: white !important;
		box-shadow: 0px 4px 7px rgba(0,0,0,.05);
	}
	.header__menu, .fixed .header__menu{
		color: #573CFF !important;
	}
}