.footer{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 20px 40px;
}
.footer__logo {
	width: 30%;
	font-size: 3rem;
}
.footer__nav{
	width: 50%;
}
.footer__company{
	width: 20%;
}

@media only screen and (max-width: 1024px) {
	.footer{
		padding: 40px 20px;
	}
	.footer__logo, .footer__nav, .footer__company {
		width: 300px;
		margin: 50px auto;
		text-align: center;
	}
	.footer__logo {
		margin-bottom: 40px;
		margin-top: 0px;
	}
	.footer__social{
		justify-content: center;
	}
}