@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 10px;
  font-weight: 400;
  color: black;
  background-color: white;
}

body{
	margin: 0;
	padding: 0;
	width: 100vw;
	overflow-x: hidden;
	cursor: none;
}
.be-vietnam-light {
	font-family: "Be Vietnam Pro", sans-serif;
	font-weight: 300;
	font-style: normal;
}
.be-vietnam-regular {
	font-family: "Be Vietnam Pro", sans-serif;
	font-weight: 400;
	font-style: normal;
}
.be-vietnam-semibold {
	font-family: "Be Vietnam Pro", sans-serif;
	font-weight: 600;
	font-style: normal;
}
.be-vietnam-bold {
	font-family: "Be Vietnam Pro", sans-serif;
	font-weight: 700;
	font-style: normal;
}
.poppins-light {
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-style: normal;
}
.poppins-regular {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: normal;
}
.poppins-medium {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-style: normal;
}
.poppins-bold {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-style: normal;
}

.whats-custom input, .whats-custom span{
	font-size: 14px !important;
}
.whats-custom header, .whats-custom footer{
	padding: 5px 10px !important;
}
.whats-custom header img {
	width: 50px !important;
	height: 50px !important;
}
.whats-custom footer svg{
	margin-left: 10px;
}